@model IEnumerable<WebApplication1.Models.Item>
@*@model2  WebApplication1.Models.Item*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/DataTableLayout.cshtml";

}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <div id="PlaceHolderHere"></div>
   
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>
                         <button type="button" data-toggle="ajax-modal" id="CreateItem" class="btn btn-outline-success" data-target="#modal-default" data-url="@Url.Action("AddOrEdit")"><i class="far fa-plus-square"></i> Item</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null){
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RenderingEngine)</td>
                    <td>@Html.DisplayFor(modelItem => item.Browser)</td>
                    <td>@Html.DisplayFor(modelItem => item.Platform)</td>
                    <td>@Html.DisplayFor(modelItem => item.EngineVersion)</td>
                    <td>@Html.DisplayFor(modelItem => item.CSSGrade)</td>
                    <td>
                        <a asp-action="AddOrEdit" asp-route-id="@item.ItemID"><i class="fa fa-marker fa-lg"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ItemID" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>
        <script>
            $(document).ready(function () {
                $('table[id^="example1"]').dataTable({
                    "dom": "fltip",
                   "searching":true,
                  "responsive": true,
                  "lengthChange": false,
                  "ordering":true,
                  "paging":true,
                  "autoWidth": false,
                  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]

                    buttons: [
                        {
                            extend: 'csv',
                            className: 'btn btn-success',
                            text: 'Export to Excel',
                            //footer: true,
                            title: 'Commissions Export'
                        }
                    ]
                });
            });
          </script>

    </div>
    </div>
    
      <!-- /.modal -->

    
</div>