@model IEnumerable<WebApplication1.Models.Item>
@*@model2  WebApplication1.Models.Item*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/DataTableLayout.cshtml";

}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <div id="PlaceHolderHere"></div>
   
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>
                         <button type="button" data-toggle="ajax-modal" id="CreateItem" class="btn btn-outline-success" data-target="#modal-default" data-url="@Url.Action("Add")"><i class="far fa-plus-square"></i> Item</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null){
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RenderingEngine)</td>
                    <td>@Html.DisplayFor(modelItem => item.Browser)</td>
                    <td>@Html.DisplayFor(modelItem => item.Platform)</td>
                    <td>@Html.DisplayFor(modelItem => item.EngineVersion)</td>
                    <td>@Html.DisplayFor(modelItem => item.CSSGrade)</td>
                    <td>
                        <button type="button" class="EditItem" data-toggle="ajax-modal" data-target="#modal-default" data-url="@Url.Action("Edit/" + item.ItemID.ToString())" asp-route-id="@item.ItemID"><i class="fa fa-marker fa-lg"></i></button>
                        <button type="button" class="DeleteItem" data-toggle="ajax-modal"  data-target="#deleteConfirm" data-url="@Url.Action("DeleteConfirm/" + item.ItemID.ToString())" asp-route-id="@item.ItemID" ><i class="fa fa-trash-alt fa-lg"></i></button>
                        @* @Html.ActionLink('Delete', 'Delete', new { @Id = Data.StudentId })*@
                    </td>
                </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>
        <!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <script>
            $(function () {
                $('#example1').dataTable({
                    "dom": "fltip",
                   "searching":true,
                  "responsive": true,
                  "lengthChange": false,
                  "ordering":true,
                  "paging":true,
                  "autoWidth": false,
                  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]

              
                });
            });
          </script>

    </div>
    </div>
    
      <!-- /.modal -->

    
</div>